<div id="nopely-header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/images/letter-n.png" class="pull-left" id="nopely-logo">
    <hr style="height:.5em;background-color:black; border-bottom:solid .25em rgba(255,255,255,.8); border-right:solid .5em rgba(255,255,255,.8)">
    <h1 id="nopely-text" class="display-4 pull-left"><b>nopely</b></h1>
  </div>
</div>