<ul class="nav nav-pills float-right">
  <li class="nav-item">
    <a class="nav-link" href="/profile">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/favorites">favorites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">connect</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">logout</a>
  </li>
</ul>