<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
  <title>account info for <%= user.username %></title>
<body>
<% include partials/header %>
  <div class="container blueback">
    <div class="row text-align">
      <div class="col-12">
        <h2>update your account</h2>
        <hr>
        <form id="update-form">
          <div class="form-group">
            <h4>current username: <%= user.username %> </h4><input id="username-change" type="text" name="username" class="form-control" placeholder="Change Display Name" autofocus>
          </div>
          <div class="form-group">
          <div class="form-group">
          <div class="form-group">
            <input id="update-account" type="submit" value="Update" class="submit btn btn-danger" data-id="<%= user._id %>">
          </div>
        </form>
        <br><br><br>
        <button id="delete-account" data-id="<%= user._id %>" class="submit btn btn-danger">DELETE ACCOUNT</button>
      </div>
    </div>
  </div>
</body>
</html>