<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<title>nopely</title>
<body>
<% include partials/header %>
	<div class="container blueback">
    	<div class="row text-align">
        	<div class="col-12">
				<h2>hi.</h2><br><br>
					<a id="signup-btn" class="btn btn-danger signupBtn text-align" href="/signup">sign up</a><br><br>
					<a id="login-btn" class="btn btn-danger loginBtn" href="/login">log in</a>
			</div>
		</div>
	</div>
</body>
</html>