<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
  <title>login - nopely</title>

<body>
<% include partials/header %>
  <div class="container blueback">
    <div class="row text-align">
      <div class="col-12">
        <h2>log in</h2>
        <hr>

        <form id="login-form">
          <div class="form-group">
            <input id="email-input" type="text" name="email" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input id="password-input" type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="login btn btn-danger">
          </div>
          <h5>don't have an account? <a href="/signup">sign up</a> for one, silly</h5>
        </form>
      </div>
    </div>
  </div>
</body>
</html>