<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= user.username %>'s profile</title>
    <% include partials/head %>
  </head>
<body>
<% include partials/header %>

  <div class="container text-align">
    <h2>oh, hey <%= user.username %>
      </h2>
    <div class="row">
      <div class="col-12">
    <div class="row">
      <div class="col-12">
            <div id="genrelist">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<br><br><br>

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <a href="/find">
    <div class="carousel-item text-align active"><br><br><br>
        <h1>find a movie</h1>
      </a>
    </div>
      <a href="/watchlist">
    <div class="carousel-item text-align"><br><br><br>
        <h1>your movies</h1>
      </a>
    </div>
      <a href="/account">
    <div class="carousel-item text-align"><br><br><br>
        <h1>account info</h1>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br><br><br>

              
            </div>
      </div>
    </div>
    <a id="logout" href="/logout" class="btn btn-danger pull-right logoutBtn" style="align-self:flex-end;">log out</a>
  </div>
</body>
</html>