<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
  <title><%= user.username %>'s profile</title>

<body>
<% include partials/header %>

  <div class="container text-align">
    <h2>oh, hey <%= user.username %>
        </h2>
    <div class="row">
      <div class="col-12">
        
          <div class="row">
            <div id="watchlist">
              <h2>here is your watchlist!</h2>
              <br>
              
            </div>
        </div>
    <div class="row">
      <div class="col-12">
            <div id="genrelist">
          <h2>select genre of your choice
          </h2>
        <br>
              <button id="fantasy-btn" class="btn btn-warning">Fantasy</button>
              <button id="scifi-btn" class="btn btn-warning">Sci-Fi</button>
              <button id="horror" class="btn btn-warning">Horror</button>
              <button id="romance" class="btn btn-warning">Romance</button>
              <a id="logout" href="/logout" class="btn btn-danger pull-right" style="align-self:flex-end;">log out</a>
            </div>
      </div>
    </div>
  </div>
</body>
</html>