#nopely-header {
	background-color: rgba(255,236,134,.9);
	text-align: center;
	
	border-bottom-left-radius: 1em;
	border-bottom: solid rgba(255,255,255,.5) 1em;
	border-right: solid rgba(255,255,255,.5) 2em;
	border-left: solid transparent 2em;
}

#nopely-text {
	font-family: 'Gugi', cursive;
	font-weight: bold;
	font-size: 700%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

#nopely-logo {
	
	
}

#signup-btn {
	
}

#login-btn {

}

.sendit-btn{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	font-size: 700%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

.modal-content{
	background-color: rgba(255,25,25,1);
	border: solid rgba(255,100,100,1) 1em;
	border-radius: 50%;
	height: 30em;
}

.p-modal-content{
	background-color: black;
	height:50em;
	width: 100%;
}

#p-modal-title{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	color: white;
	font-size: 300%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

#modal-text{
	font-family: 'Rajdhani', sans-serif;
	color: white;
	font-size: 3em;
}

.sendit-text{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	color: white;
	font-size: 600%;
	text-shadow: 11px 1px 1px rgba(255,25,25,.5), 
               3px 3px 5px rgba(255,25,25,.5);
}

.text-align {
	text-align: center;
}

.genre-col {
	display: flex;
	justify-content: center;

}

.card {
	width: 25em;
	height: 20em;
}

.white-hr{
	height: 1px;
	background-color: white;
}

.deleteBtn{
	height: 4em;
	width: 50%;
	font-size: 5em;
	font-family: 'Gugi', cursive;
	border: solid rgba(255,255,255,.3) .15em;
	border-radius: 50%;
	text-shadow: 11px 1px 1px rgba(0,0,0,.5), 
               3px 3px 5px rgba(0,0,0,.5);
}

h2 {
	color: white;
	font-size: 400%;
	font-family: 'Patrick Hand SC', cursive;
}

h4{
	color: white;
}

body {
background-image: url('../images/dark-bg.png');
}


.movie-img{
	border-radius: 1em;
	-moz-box-shadow: 0 0 3em #fff; 
	-webkit-box-shadow: 0 0 3em #fff;
	box-shadow: 0px 0px 3em #fff;
}

