#nopely-header {
	background-color: rgba(255,236,134,.9);
	text-align: center;
	
	border-bottom-left-radius: 1em;
	border-bottom: solid rgba(255,255,255,.5) 1em;
	border-right: solid rgba(255,255,255,.5) 2em;
	border-left: solid transparent 2em;
}

#nopely-text {
	font-family: 'Gugi', cursive;
	font-weight: bold;
	font-size: 700%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

#nopely-footer {
	background-color: rgba(255,236,134,.9);
	text-align: center;
	height: 10em;
	border-top-left-radius: 1em;
	border-top: solid rgba(255,255,255,.5) 1em;
	border-right: solid rgba(255,255,255,.5) 2em;
	border-left: solid transparent 2em;
}

#signup-btn {
	
}

#login-btn {

}

.sendit-btn{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	font-size: 700%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

.modal-content{
	background-color: rgba(255,25,25,1);
	border: solid rgba(255,100,100,1) 1em;
	border-radius: 50%;
	height: 30em;
}

.p-modal-content{
	background-color: black;
	height:50em;
	width: 100%;
}

#p-modal-title{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	color: white;
	font-size: 300%;
	text-shadow: 11px 1px 1px rgba(255,255,255,.5), 
               3px 3px 5px rgba(255,255,255,.5);
}

#modal-text{
	font-family: 'Rajdhani', sans-serif;
	color: white;
	font-size: 3em;
}

.sendit-text{
	font-family: 'Gugi', cursive;
	font-weight: bold;
	color: white;
	font-size: 600%;
	text-shadow: 11px 1px 1px rgba(255,25,25,.5), 
               3px 3px 5px rgba(255,25,25,.5);
}

.text-align {
	text-align: center;
}

.genre-col {
	display: flex;
	justify-content: center;

}

.card {
	width: 25em;
	height: 20em;
}
.card:hover{
	background-color:white;
	font-color:black;
}

.white-hr{
	height: 1px;
	background-color: white;
}

.deleteBtn{
	height: 4em;
	width: 4em;
	font-size: 5em;
	font-family: 'Gugi', cursive;
	border: solid rgba(255,255,255,.3) .15em;
	border-radius: 50%;
	text-shadow: 11px 1px 1px rgba(0,0,0,.5), 
               3px 3px 5px rgba(0,0,0,.5);
}

.signupBtn{
	height: 2em;
	width: 4em;
	background-color: green;
	font-size: 5em;
	font-family: 'Rajdhani', cursive;
	border: solid rgba(255,255,255,.3) .15em;	
}
.signupBtn:hover{
	background-color:yellow;
	color: black;
	border-color: magenta;
}

.loginBtn{
	height: 2em;
	width: 4em;
	background-color: purple;
	font-size: 5em;
	font-family: 'Rajdhani', cursive;
	border: solid rgba(255,255,255,.3) .15em;
}
.loginBtn:hover{
	background-color:skyblue;
	color: black;
	border-color: magenta;
}

.logoutBtn{
	height: 2em;
	width: 4em;
	background-color: red;
	font-size: 5em;
	font-family: 'Rajdhani', cursive;
	border: solid rgba(255,255,255,.3) .15em;
}
.logoutBtn:hover{
	background-color:magenta;
	color: black;
	border-color:rgba(255,236,134,.9);
}


h2 {
	color: white;
	font-size: 400%;
	font-family: 'Rajdhani', cursive;
	font-weight: bold;
}

h4{
	color: white;
}

body {
background-image: url('../images/dark-bg.png');
}

.carousel-item{
	height: 20em;
	width: 100%;
	background-color: rgba(255,236,134,.9);
	border-radius: 1em;
	border-left: solid transparent 1em;
	border-right: solid rgba(255,255,255,.5) 1em;
	border-top: solid transparent .5em;
	border-bottom: solid rgba(255,255,255,.5) .5em;
	
}

a h1{
	font-size: 500%;
	font-family: 'Gugi', cursive;
	text-shadow: 11px 1px 1px rgba(255,25,25,.5), 
               3px 3px 5px rgba(255,25,25,.5);
    color:black;

}

a:hover{
	text-decoration: none;
	color:black;
	text-shadow: 11px 1px 1px rgba(255,25,25,.5), 
               3px 3px 5px rgba(255,25,25,.5);
}

input{
	background-color: black;
}

.movie-img{
	border-radius: 1em;
	-moz-box-shadow: 0 0 3em #fff; 
	-webkit-box-shadow: 0 0 3em #fff;
	box-shadow: 0px 0px 3em #fff;
}

